<div class="rf-help help-page-content rf-hide">
    <div class="rf-help-content" style="font-size:12px;text-align:left;">
        <h2 class="text-white">Pages</h2>
        <ul>
            <li>
                Your website is composed of numerous pages.
            </li>
            <li>
                For example: Homepage, AboutUs, Our Services are all pages.
            </li>
            <li>
                You can create pages by clicking on the "Create a Page" link
            </li>
            <li>
                Each page consists of a Route (URL Path). It is the unique identifier of your page.
            </li>
            <li>Example www.ebay.com/products.   The www.ebay.com is call the DOMAIN NAME, while the "/products" is ROUTE</li>
            <li>For example, our homepage will have "/" as path. About us is : "/about-us</li>
        </ul>
        <h2 class="text-white">Page Status</h2>
        <ul>
            <li>
                There are two status:
                <ul>
                    <li>Draft</li>
                    <li>Published</li>
                </ul>
            </li>
            <li>
                These are two versions of the same page, that is, the PATH "/about-us" are the same for both pages.
            </li>
            <li>
                At most, there are a maximum of only TWO version of a page. (Published Version & Draft Version)
            </li>
            <li>
                The published version is the version that is "ONLINE", that is, it is the version that will appear in
                your website.
            </li>
            <li>
                If you want a page to appear in your website, it should have the status Published.
            </li>
            <li>
                While the published version is the "online" version, you can create a draft version of the same page to
                modify the contents, and then published the draft version. This will then appear in your website.
            </li>
            <li>
                If you want to remove a page from your website, you should Unpublished that page.
            </li>
            <li>
                To unpublish a page, you just need to click on the "unpublish" button.
                <ul>
                    <li>When unpublishing a page, make sure you don't have a draft version of that page.</li>
                    <li>If you want to replace the published page by the draft version, you can just publish the draft version.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>