<div>
    <div class="media-chooser-container">
        {{ form_start(form) }}

        {{ form_row(form.media) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>