{% extends 'content_types/base/detail.html.twig' %}

{% block body %}
    {% if block.properties is not empty %}
        <div class="table-responsive"  style="max-height: 300px;overflow: auto;">
            <div>
                <table class="table align-items-center">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Properties
                        </th>
                        <th scope="col">

                        </th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    {% for property, value in block.properties %}
                        <tr>
                            <td>
                                {{ property | upper }}
                            </td>
                            <td style="max-width:300px; overflow: hidden;">
                                {{ (value | raw | replaceSingleQuote) | raw }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>You should edit this content.</p>
    {% endif %}
{% endblock %}