{% extends 'visual_pack/components/structure.html.twig' %}

{% block title %}Add a visual pack{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'visual_pack',
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack"},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack", 'active':true},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout"},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block header %}
    {% include 'visual_pack/components/header_list.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-translucent-neutral border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Create Layout</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-icon btn-3 btn-primary">
                        <span class="btn-inner--icon"><i class="fa fa-save"></i> </span>

                        <span class="btn-inner--text">Create</span>
                    </button>
                    {{ form_end(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Tips</h2>
                            <ul>
                                <li>
                                    <a href="{{ path('rf_visualpack_structure') }}"> Create the layout from here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
