{% extends 'visual_pack/components/structure.html.twig' %}

{% block title %}Add a visual pack{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'visual_pack',
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack"},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout Structure"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack"},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout Structure", 'active':true},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block header %}
    {% include 'visual_pack/components/header_list.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div id="canvas_structure" style="width:100%;min-height:400px;border:3px solid white; background: #e8e8e8; padding:20px;"
                 class="shadow">

            </div>
            <style>
                #canvas_structure .slot {
                    background-image: linear-gradient(45deg, #e6e6e6 18.75%, #f7f7f7 18.75%, #f7f7f7 50%, #e6e6e6 50%, #e6e6e6 68.75%, #f7f7f7 68.75%, #f7f7f7 100%);
                    background-size: 11.31px 11.31px;
                    border:2px solid white;
                    margin-bottom:10px;
                    text-align: center;
                    font-size:16px;
                    color:black;
                    font-weight: bold;
                    height:200px;
                    vertical-align: middle;
                    line-height: 200px;
                }
                #canvas_structure .slot-1 {
                    height: 100px;
                    font-size:14px;
                    vertical-align: middle;
                    line-height: 100px;
                }
                .slot-2 {
                    min-height:300px;
                    vertical-align: middle;
                    line-height: 300px;
                }
                .slot-3 {
                    min-height:400px;
                    vertical-align: middle;
                    line-height: 400px;
                }
                .slot-4 {
                     min-height:500px;
                     vertical-align: middle;
                     line-height: 500px;
                 }
                .slot-5 {
                    min-height:600px;
                    vertical-align: middle;
                    line-height: 600px;
                }
                .slot-6 {
                    min-height:600px;
                    vertical-align: middle;
                    line-height: 600px;
                }
            </style>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col-8">
                    <textarea id="htmlinputstructure" cols="28" rows="10" placeholder="Type your HTML here">
<div class="row">
<div class="col-md-12" >
<div class="slot slot-1" data-slot="NAV">NAV</div>
<div class="slot" data-slot="HEADER">HEADER</div>
</div>
</div>
<div class="row">
<div class="col-md-4" >
<div class="slot slot-4" data-slot="SIDE">SIDE</div>
</div>
<div class="col-md-8" >
<div class="slot slot-3" data-slot="CONTENT">CONTENT</div>
</div>
</div>
<div class="row">
<div class="col-md-12" >
<div class="slot slot-1"  data-slot="FOOTER">FOOTER</div>
</div>
</div>
                </div>

                </textarea>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <br/>
                    <h3>Tips</h3>
                    <ul>
                        <li>
                            Only start with the <code>"< body >"</code> and end with the <code>"< /body >"</code>
                        </li>
                        <li>
                            Add CSS class <code>"slot"</code> and <code>"data-slot='NAV'"</code> to have the slot rendered as other slots
                        </li>
                        <li>
                            It supports Bootrstrap 4
                        </li>
                        <li>
                            You can add CSS using the <code>"< style >"</code> <code>"< /style >"</code>
                        </li>
                        <li>
                            Add CSS class <code>"slot-1"</code> have 25px height (minimum)
                        </li>
                        <li>
                            Add CSS class <code>"slot-2 slot-3 slot-4"</code> have 75px, 100px, 125px height (minimum)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#htmlinputstructure").keyup(function (e) {
                $("#canvas_structure").html($(this).val());
            });
            $("#canvas_structure").html($("#htmlinputstructure").val());
        });
    </script>
{% endblock %}
