{% extends 'visual_pack/components/structure.html.twig' %}

{% block title %}Visualize Layout{% endblock %}

{% block sidenav %}
    {% set config = {'config':{
        'active' : 'visual_pack',
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack"},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout"},
        ]
    }} %}
    {% include 'admin/sidenav.html.twig'  with config %}
{% endblock %}

{% block nav %}
    {% set config = {'config':{
        'main': {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
        'items': [
            {'path' : path('rf_visualpack'), 'title':"Visual Packs"},
            {'path' : path('rf_visualpack_add'), 'title':"Add Visual Pack"},
            {'path' : path('rf_visualpack_structure'), 'title':"Visualize Layout", 'active':true},
        ]
    }} %}
    {% include 'admin/nav.html.twig' with config %}
{% endblock %}

{% block header %}
    {% include 'visual_pack/components/header_list.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div id="canvas_structure" style="width:100%;min-height:400px;border:3px solid white; background: #e8e8e8; padding:20px;"
                 class="shadow">

            </div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col-8">
                    {% if layout is not empty %}
                    <textarea id="htmlinputstructure" cols="28" rows="10" placeholder="Type your HTML here">{{ layout.structure | raw }}</textarea>
                    {% else %}
                        <textarea id="htmlinputstructure" cols="28" rows="10" placeholder="Type your HTML here">
<div class="row">
<div class="col-md-12" >
<div class="slot" data-slot="S_SLOT_01"></div>
</div>
</div>
<div class="row">
<div class="col-md-4" >
<div class="slot slot-4" data-slot="S_SLOT_02"></div>
</div>
<div class="col-md-8" >
<div class="slot slot-4" data-slot="S_SLOT_03"></div>
</div>
</div>
<div class="row">
<div class="col-md-12" >
<div class="slot slot-1"  data-slot="S_SLOT_04"></div>
</div>
</div>
                </textarea>
                    {% endif %}

            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <br/>
                    <h3>Tips</h3>
                    <ul>
                        <li>
                            Only start with the <code>"< body >"</code> and end with the <code>"< /body >"</code>
                        </li>
                        <li>
                            Add CSS class <code>"slot"</code> and <code>"data-slot='S_SLOT_01'"</code> to have the slot rendered as other slots
                        </li>
                        <li>
                            It supports Bootrstrap 4
                        </li>
                        <li>
                            You can add CSS using the <code>"< style >"</code> <code>"< /style >"</code>
                        </li>
                        <li>
                            Add CSS class <code>"slot-1"</code> have 25px height (minimum)
                        </li>
                        <li>
                            Add CSS class <code>"slot-2 slot-3 slot-4"</code> have 75px, 100px, 125px height (minimum)
                        </li>
                        <li>
                            Go crazy, here are the available slot names:
                            <ul>
                                <li>RF_SLOT_01 to RF_SLOT_99</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#htmlinputstructure").keyup(function (e) {
                $("#canvas_structure").html($(this).val());
            });
            $("#canvas_structure").html($("#htmlinputstructure").val());
        });
    </script>
{% endblock %}
