{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'dashboard/header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0 mh400" data-simplebar="init" >
            {% set config = {'config':{
                'title' : 'Newly Created User Accounts',
                'dark': true,
                'users' : users,
                'fields' : ['image','online','name', 'status','createdAt'],
                'options' : ['view_profile','view_orders','change_role']
            }} %}
            {% include 'admin/components/user_list.html.twig' with config %}
        </div>
        <div class="col-xl-4 mh400" data-simplebar>
            {% set config = {'config':{
                'title' : 'Online Users',
                'users' : usersOnline,
                'fields' : ['image','name'],
                'options' : ['view_profile']
            }} %}
            {% include 'admin/components/user_list.html.twig' with config %}
        </div>
    </div>
{% endblock %}
