{%  set randImageValue = random(4) %}
<div class="header pb-8 pt-5 pt-md-8 d-flex align-items-center" style="background-image: url('{{ asset('assets/login/login'~randImageValue~'.jpg') }}'); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-purple opacity-8"></span>
    <div class="container-fluid">
    </div>
</div>


